# ignore node/grunt dependency directories
node_modules/
.idea/
# -------------------------
# BEGIN Whitelisted Files
# -------------------------
 
# track these files, if they exist
!.gitignore
!.editorconfig
